{% extends "base.html" %}

{% block title %}
{{ voice.title}}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mb-3">
            <div class="card-header">
                ID : {{ voice.id }}
            </div>
            <div class="card-body">
                <p class="card-text">Title : </p>
                <h5 class="card-title">{{ voice.title }}</h5>
                <p class="card-text">text : </p>
                <div class="card mb-2">
                    <div class="card-body">
                        {% for segment in segments %}
                            <p class="card-text">{{ segment.text }}</p>
                        {% endfor %}
                    </div>
                </div>
                <a href ="{% url 'voices:download' voice.id %}" class="btn btn-primary">このファイルをダウンロード</a>
            </div>
            <div class="card-footer">
                Uploaded at : {{ voice.uploaded_at }}
            </div>
        </div>
        <hr>

    </div>


{% endblock content %}