{% extends 'base.html' %}

{% block content %}

<a href="{% url 'voices:upload' %}" class="btn btn-primary my-3">ファイルをアップロード</a>

<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a href="#name" class="nav-link active text-secondary" id="name-tab" data-bs-toggle="tab" role="tab" aria-controls="detail" aria-selected="true">ファイル名から検索</a>
        <!-- ページを表示した際に最初に表示されるタブにはaria-selected="true"を指定 -->
    </li>
    <li class="nav-item" role="presentation">
        <a href="#text" class="nav-link text-secondary" id="text-tab" data-bs-toggle="tab" role="tab" aria-controls="menu" aria-selected="false">ファイル内容から検索</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="name" role="tabpanel" aria-labelledby="name-tab"></div>
    <div class="tab-pane fade" id="text" role="tabpanel" aria-labelledby="text-tab">
        <form class="d-flex" role="search"  method="GET">
            <input class="form-control me-2" type="search" name="q" placeholder="audioファイル内容から検索" aria-label="Search" required>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>




<h2 class="my-5">ファイル一覧</h2>
        {% if voices %}
        <table class="table">
            <thead>
            <tr>
                <th>ファイル名</th>
                <th>アップロード日時</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for v in voices %}
            <tr>
                <td><a href="{% url 'voices:download' v.id %}">{{v.title}}</a></td>
                <td>{{v.uploaded_at}}</td>
                <td><a href="{% url 'voices:delete' v.id %}" class="btn btn-danger btn-sm">削除</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>ファイルは登録されていません</p>
        {% endif %}
{% endblock %}