<a href="{% url 'voices:upload' %}" class="btn btn-primary my-3">ファイルをアップロード</a>
<h2 class="my-5">ファイル一覧</h2>
        {% if voice %}
        <table class="table">
            <thead>
            <tr>
                <th>ファイル名</th>
                <th>アップロード日時</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for v in voice %}
            <tr>
                <td><a href="{% url 'voices:download' v.id %}">{{v.title}}</a></td>
                <td>{{v.uploaded_at}}</td>
                <td><a href="{% url 'voices:delete' v.id %}" class="btn btn-danger btn-sm">削除</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>ファイルは登録されていません</p>
        {% endif %}